@using BlazorForms.Shared;
@using CrmLightDemoApp.Onion.Domain.Repositories;
@using CrmLightDemoApp.Onion.Domain;
@using CrmLightDemoApp.Onion.Services.Abstractions;
@using CrmLightDemoApp.Onion.Services;
@using CrmLightDemoApp.Onion.Services.Model;

@if (_users != null)
{
	<div style="width: 280px; margin-right: 16px;">
		<MudText Align="Align.Right">@GetTenant().Company.Name</MudText>
	</div>

	<div style="width: 180px; ">

		<MudSelect T="UserDetails" Label="User" Style="background-color: lightgray;" AnchorOrigin="Origin.CenterCenter" Variant="Variant.Filled"
			   AdornmentColor="Color.Surface" ToStringFunc="t => t?.PersonFullName" Value="GetUser()" ValueChanged="@(async (args) => await ValueChanged(args))">

		@foreach (var user in _users)
		{
			<MudSelectItem Value=@user />
		}
		</MudSelect>
	</div>
}

@code {
	@inject IAppAuthState _authState
	@inject IUserRepository _userRepo
    @inject IUserService _userService
    @inject ITenantAccountRepository _tenantRepo

	private List<UserDetails>? _users;

	protected override async Task OnInitializedAsync()
	{
		// set default user first time
		if (_authState.GetCurrentUser() == null)
		{
			var mockAuth = _authState as MockAppAuthState;

			if (mockAuth != null)
			{
				var current = UserModel.FromDetails((await GetUsers()).First(x => x.Id == 1));
				mockAuth.SetCurrentUser(current);

				var tenant = TenantAccountModel.FromDetails((await _tenantRepo.GetTenantAccountDetailsAsync()));
				mockAuth.SetCurrentTenantAccount(tenant);
			}
		}
	}

	protected override async Task OnParametersSetAsync()
	{
		_users = await GetUsers();
	}

	private async Task<List<UserDetails>> GetUsers()
	{
		var userList = await _userService.GetAllUserDetailsAsync();
		return await _userRepo.GetAllUserDetailsAsync();
	}

	private UserDetails GetUser()
	{
		return _authState.GetCurrentUser();
	}

	private TenantAccountModel GetTenant()
	{
		return _authState.GetCurrentTenantAccount();
	}

	private async Task ValueChanged(UserDetails val)
	{
		var mockAuth = _authState as MockAppAuthState;

		if (mockAuth != null)
		{
			mockAuth.SetCurrentUser(UserModel.FromDetails(val));
		}
	}
}
