@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p> *How likely is that you would recommend freeCodeCamp to a friend?</p>

<table class="table">
    @*<thead class="jsgrid-grid-header">
        <td></td>
        <td></td>
    </thead>*@
    <tr >
        <td><input type="radio" id="1" name="drone"></td>
        <td>
            <img @ref="ImageMap" class="hidden" src="@Image64" />
        </td>
        <td>
            <label for="1">
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
            </label>
        </td>
    </tr>

    <tr >
        <td><input type="radio" id="2" name="drone"></td>
        <td>
            <label for="2">
                Maybe. This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
            </label>
        </td>
    </tr>

    <tr >
        <td><input type="radio" id="3" name="drone"></td>
        <td>
            <label for="3">Not Sure</label>
        </td>
    </tr>
</table>
    
    

<img @ref="ImageMap" class="hidden" src="@Image64"/>

@((MarkupString)myMarkup)

@code {
    string myMarkup = "<p class='markup'>This is a <em>markup string</em>.</p>";

    object? ImageMap;
    string? Image64 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        byte[] image = System.IO.File.ReadAllBytes(@"c:\temp\1.jpg");
        Image64 = "data:image/jpg;base64," + Convert.ToBase64String(image);
    }
}
