@page "/list3"
@using BlazorForms.Rendering.Interfaces
@using BlazorForms.Flows.Definitions
@using BlazorForms.Rendering.State
@using BlazorForms.Rendering.MudBlazorUI.Components
@using MudBlazor

@inject IDialogFormViewModel DialogVM

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@showPages" Color="Color.Primary">Show Pages</MudSwitch>
    <MudSwitch @bind-Checked="@showSorting" Color="Color.Primary">Show Sorting</MudSwitch>
    <MudSwitch @bind-Checked="@showFilters" Color="Color.Primary">Show Filters</MudSwitch>
</div>

<FlowListForm FlowType="BlazorFormsDemoFlows.Flows.SampleListShortFlow" ShowFilters=showFilters ShowSorting=showSorting ShowPagination=showPages
    Variant="MudBlazor.Variant.Outlined" />

@code {
    private bool showPages = false;
    private bool showSorting = false;
    private bool showFilters = false;

    
}
