@page "/inlineForm3"
@using BlazorForms.Shared
@using BlazorForms.Rendering.Interfaces

@inherits InlineNavigationFormBase<BlazorFormsDemoModels.Models.NavigationModel1>

<header>NavigationForm3</header>

<p>
    <label>@Model.UserName</label>
    <br />
    <label>You have been registered</label>
    <br />
    <button @onclick="@(async () => await ActionButtonClick(ModelBinding.SubmitButtonBinding))">Ok</button>
</p>

@code {
}