@page "/counter2"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<DynamicFormSilent FlowName="BlazorForms.SampleSilentFlow2" Pk="0" AnonymousAccess="false" NavigationSuccess="/" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
