<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorFormsDemoBlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Flow Diagram
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="list2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> List Form V2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="list2exc">
                <span class="oi oi-list-rich" aria-hidden="true"></span> List Form V2 Exc
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demoFormV2/false">
                <span class="oi oi-plus" aria-hidden="true"></span> Demo Form V2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="start-flow-form-v2-generic/BlazorFormsDemoFlows.Flows.SampleEditFlowWithException/0">
                <span class="oi oi-plus" aria-hidden="true"></span> Demo Form V2 Exc
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demoFormV2/true">
                <span class="oi oi-plus" aria-hidden="true"></span> Demo Form V2 Store
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demoCustomForm">
                <span class="oi oi-plus" aria-hidden="true"></span> Demo Custom Layout
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="demoCustomFormTyped">
                <span class="oi oi-plus" aria-hidden="true"></span> Custom Layout Typed
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demoFieldSet/false">
                <span class="oi oi-plus" aria-hidden="true"></span> FieldSet
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demoFieldSet/true">
                <span class="oi oi-plus" aria-hidden="true"></span> FieldSet Json
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demoLayoutForm">
                <span class="oi oi-plus" aria-hidden="true"></span> Layout Form
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
